[submodule "Material Theme"]
	path = Material Theme
	url = https://github.com/equinusocio/material-theme.git
[submodule "Material Theme - Appbar"]
	path = Material Theme - Appbar
	url = https://github.com/equinusocio/material-theme-appbar.git
[submodule "sublime-PHP_CodeSniffer"]
	path = sublime-PHP_CodeSniffer
	url = https://github.com/squizlabs/sublime-PHP_CodeSniffer
[submodule "PhpDoc"]
	path = PhpDoc
	url = https://github.com/ly95/PhpDoc
[submodule "SublimeLinter"]
	path = SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter3.git
[submodule "SublimeLinter-php"]
	path = SublimeLinter-php
	url = https://github.com/SublimeLinter/SublimeLinter-php.git
[submodule "SublimeLinter-phpmd"]
	path = SublimeLinter-phpmd
	url = https://github.com/SublimeLinter/SublimeLinter-phpmd.git
[submodule "php-snippets"]
	path = php-snippets
	url = https://github.com/gerardroche/sublime-php-snippets.git
[submodule "phpck"]
	path = phpck
	url = https://github.com/gerardroche/sublime-phpck.git
[submodule "anaconda"]
	path = anaconda
	url = https://github.com/DamnWidget/anaconda.git
[submodule "TypeScript"]
	path = TypeScript
	url = https://github.com/Microsoft/TypeScript-Sublime-Plugin.git
